@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background: #081b29;
  color: #ededed;
  overflow-x: hidden;
  min-height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

 .logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 3px;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.8s;
} 

 .navbar a:hover,
.navbar a.active {
  color: #00abf0;
} 

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

/* .home-content {
  max-width: 600px;
} */

.home-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 30px;
  font-weight: 700;
  color: #00abf0;
}

.home-content p {
  font-size: 15px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}
.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 50px;
  width: 170px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 150px;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

/* Navabar */
nav {
  display: flex;
  background-color: #081b29;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: #ededed;
  width: 100%;
  position: fixed;
  z-index: 2;
}
nav .logo {
  font-size: 20px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: right;
}

nav ul li a {
  color: #ededed;
  font-family: "Poppins", serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.8s;
}

nav ul li a:hover {
  color: #00abf0;
}

/* Humburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #ededed;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Humburger Animation */

.menu-toggle span:nth-child(2) {
  transform: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  margin-top: 10px;
  transform: rotate(45deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  margin-bottom: 9px;
  transform: rotate(-45deg);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* Tablet */
/* @media screen and (max-width: 1285px) {
  nav ul {
    width: 50%;
  }
  .home-sci {
    margin-top: -20px;
  }
  .btn-box {
    margin-bottom: 200px;
  }
  .container .imageHome {
    display: none;
  }
  .container .kiri {
    margin-right: 0;
  }
  .home-content {
    margin-top: 100px;
  }

  .about-container {
    display: grid !important;
    grid-template-columns: none !important;
    padding-bottom: 0 5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
  .about-box {
    height: 100%;
  }

  .about-box .about-info {
    padding: 50px !important;
  }

  .contact .input-group-2 textarea {
    width: 70%;
  }
}

@media screen and (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
  .about {
    padding-bottom: 7rem;
  }
  .contact form {
    flex-direction: column;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    margin-top: 200px;
  }
  .home-sci {
    position: absolute;
    bottom: 5px;
  }

  .about-container .about-box {
    margin-right: 70px;
  }
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #081b29;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s;
  }
  nav ul.slide {
    transform: translateX(0);
  }
}

/* mobile */

@media screen and (max-width: 895px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #081b29;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s;
  }
  nav ul.slide {
    transform: translateX(0);
  }

  .home-sci {
    display: none;
    bottom: 5px;
  }

  .container .imageHome {
    display: none;
  }

  .container .kiri {
    margin-right: 0px;
    margin-top: 100px;
  }
  .container {
    display: block;
  }

  .home .home-content {
    margin-top: 100px;
  }

  .about-info p {
    font-size: 10px;
  }
  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }
  .about-container {
    padding-top: auto;
  }
}

@media screen and (max-width: 320px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #081b29;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s;
  }
  nav ul.slide {
    transform: translateX(0);
  }

  .home-sci {
    bottom: 5px;
  }

  .container .imageHome {
    display: none;
  }

  .container .kiri {
    margin-right: 0px;
    margin-top: 100px;
  }
  .container {
    display: block;
  }

  .home .home-content {
    margin-top: 100px;
  }

  .about-info p {
    font-size: 10px;
  }
}

.home-content .container {
  display: flex;
  justify-content: center;
}

.home-sci {
  bottom: -80px;
}

.about-container {
  grid-template-columns: repeat(1, 1fr);
}

.about h2 {
  text-align: center;
}
.footer {
  padding: 2rem 3%;
}

.container {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 150px;
}

.container .imageHome {
  width: 30%;
  border-radius: 50%;
  border: 2px solid #00abf0;
  box-shadow: 0 0 25px #00abf0;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.container .kiri {
  margin-right: 100px;
}

.imageHome {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

.imageHome:hover {
  box-shadow: 0 0 25px #00abf0, 0 0 50px #00abf0, 0 0 100px #00abf0;
  transform: scale(1.1);
}

.imageHome:hover + .middle {
  opacity: 1;
}

@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

/* about */
.about {
  background: #081b29;
  color: #ededed;
}

.about h2 {
  margin-bottom: 5rem;
  color: white;
  padding: auto;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 30px;
}

.about-box {
  background-color: #0491c9;
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-left: 30px;
  margin-right: 30px;
}

.about-box:hover {
  background: white;
  color: black;
  border: 5px solid #ededed;
  transform: scale(1.03);
}

.about-box .about-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;

  padding: 50px;
}

.about-info h4 {
  font-size: 20px;
  font-weight: 800;
  line-height: 2;
}

.abouot-info p {
  font-size: 1rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}

/* education */

.education {
  padding: 100px 15px;
  background: #0c273a;
}

.education .h1 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-bottom: 5rem;
  transition: 1s;
}

.education .h1:hover {
  transform: scale(1.1);
  color: #0491c9;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #0491c9;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: #0491c9;
  box-shadow: 0 0 15px #0491c9;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: #081b29;
  border: 3px solid #ededed;
  padding: 30px 50px;
  border-radius: 4rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px #ededed;
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color:#00abf0;
}

::-webkit-scrollbar-track {
  background-color: #00abf0;
  width: 50px;
}

/* contact */

.heading {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  padding-top: 100px;
  cursor: pointer;
  margin: 5rem 0;
  color: #ededed;
  transition: 1s;
}

.heading:hover {
  color: #00abf0;
  transform: scale(1.1);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 5rem auto;
  text-align: center;
}

.contact h2 {
  margin-bottom: 3rem;
  color: #ededed;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  color: #ededed;
  background-color: #081b29;
  border-radius: 2rem;
  border: 2px solid #ededed;
  margin: 1.5rem 0;
  resize: none;
  transition: 1s;
}

input.btn {
  width: 50%;
  padding: 1.5rem;
  font-size: 1rem;
  color: #ededed;
  background-color: #081b29;
  border-radius: 2rem;
  border: 2px solid #ededed;
  margin: 1.5rem 0;
  resize: none;
  transition: 1s;
}

input.btn:hover {
  box-shadow: 0 0 25px #ededed;
  transform: scale(1);
}

.contact form textarea:hover {
  box-shadow: 0 0 25px #ededed;
  transform: scale(1);
}

.contact form .input-box input:hover {
  box-shadow: 0 0 25px #ededed;
  transform: scale(1);
}

.contact form .btn {
  margin-top: 2rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: #0c273a;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  text-decoration: none;
  color: white;
  border-bottom: 0px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid #ededed;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }

  .about-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }

  .about {
    padding-bottom: 7rem;
  }

  .testimonials .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact form {
    flex-direction: column;
  }
  .about {
    min-width: 90vh;
  }
  .education {
    min-width: 80vh;
  }
  .contact {
    min-width: 90vh;
  }
  .footer {
    padding: 2rem 3%;
    min-width: 90vh;
  }
}

@media (max-width: 895px) {
  #menu-icon {
    display: flex;
  }
  .home-content .container {
    margin-bottom: 150px;
  }
  .about h2 {
    margin-bottom: 3rem;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 425) {
  .about-info h4 {
    font-size: 1px;
  }
  * {
    display: flex;
  }
}
